.header-bg {
  background: linear-gradient(300deg, #1B3C53, #234C6A, #456882);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.icon {
    fill-opacity: 0.8;
    background-color: white;
}

.certs {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}