.site-heading {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.subheading {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.createPostBtn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.postStyle{
    box-shadow: 3px 3px 2px 3px #f5faff;
    margin-bottom: 2px;
}

.form-group{
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.posts{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deletePostBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
}

.editPostBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: green;
}

.form-group{
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.createPostHeading {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: black;
}

.btn-primary {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#postBody {
    width: 50% ;
    height: 100px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}